
.loader-overlay {
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

.loader-text{
  color: white;
  margin-top: 10px;
}

.loader-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #FD3C20;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  border: 1px solid #888;
  width: 50%;
}

.modal-content input[type=text] {
  padding: 15px;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  border: none;
  width: 100%;
  background: white;
}

.autocomplete-suggestions { 
  border: 1px solid #999;
  background: #fff;
  overflow: auto;
}

.autocomplete-suggestion { 
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  white-space: nowrap; 
  overflow: hidden;
  display: grid;
  grid-template-columns: 42px auto auto;
}

.autocomplete-selected {
  background: rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestions strong { 
  font-weight: normal; 
  color: #ef5f1e; 
}

.autocomplete-group { 
  padding: 2px 5px; 
}

.autocomplete-group strong { 
  display: block; 
  border-bottom: 1px solid #000; 
}

.window-draggable-handle {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -1px;
  background: #444;
  padding: 2px;
  border: 1px solid #111;
  left: 0;
  border-radius: 0 4px 0 0;
}

.autocomplete-suggestion .suggestion {
  text-align: left;
  padding: 10px;
}

.autocomplete-suggestion .span {
  grid-column: 1 / span 2;
}

.autocomplete-suggestion .info {
  text-align: right;
  padding: 10px;
}

.autocomplete-suggestion .thumbnail {
  display: inline-block;
  border-style: none;
  border-width: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.command-menu {
  display: none;
  position: fixed;
  list-style: none;
  overflow: hidden;
  z-index: 999999;
  top: 15%;
  left: calc(50% - 180px);
  width: 300px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
  padding-inline-start: 0px;
}

.command-menu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
  cursor: pointer;
}

.command-menu li h2 {
  display: block;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
  transition: ease .2s;
  margin: 0;
  border: none;
}

.command-menu li.selected {
  background: rgba(0, 0, 0, 0.4);
  border-left: 3px solid #ff0200;
}

.command-menu li:hover {
  text-shadow: 0 0 10px #ff6400;
}